@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&family=Viga&display=swap');
/*
@font-face {
    font-style: normal;
    font-weight: 400;
    src: local('Gothic A1'), url('/fonts/GothicA1-Regular.ttf') format('truetype');
}

@font-face {
    font-style: normal;
    font-weight: 400;
    src: local('Viga'), url('/fonts/Viga-Regular.ttf') format('truetype');
}
*/

.h1{
    text-align: center;
    font-family: 'Viga';
}
.inputStyle{
    margin-top: 20px;
    clear:both;
    overflow: hidden;
    width: 500px;
    font-size: 40px;
    font-family: 'Gothic A1';
    font-weight: 500;
    border-radius: 15px;
}
#submitButton{
    background-color: #20D7C4;
}
#submitButton:hover{
    cursor: pointer;
    font-size: 50px;
}
.comment{
    color: #FFFFFF;
}
#commentBox{
    margin: auto;
    width: 30%;
}
#inputData{
    color: #FFFFFF;
}

.linkStyle{
    font-size: 1.5em;
    text-decoration: underline;
    color: lightblue;
}

.App {
    text-align: center;
    color: #FFFFFF;
}
.errorMessage{
    color: #FFFFFF;
    font-family: "Viga";
}
.centered{
    display: flex;
    justify-content: center;
    align-items: center;
}
#smallBox{
     height: 745px;
}

#largeBox{
    height: 1590px;
}

.transparentBox{
    width: 85%;
    border-radius: 50px;
    background-color: rgba(16, 18, 30, 0.8);
    margin-top: 70px;
    color: white;
    padding-left: 4%;
    padding-top: 1.5%;
}
#buttonToMainPageBox{
    position: relative;
    margin: auto;
    height: 150px;
    width: 475px;
    transform: translateY(-15rem);
}
#buttonToMainPage{
    display: block;
    border-radius: 50px;
    margin: 300px auto 200px;
    font-family: 'Viga', sans-serif;
    font-size: 30px;
    height: 150px;
    width: 475px;
    border: none;
    background-color: #52B0F8;
    font-weight: bolder;
}

#buttonToMainPage:hover{
    cursor: pointer;
    background-color: #2c61d1;
    font-size: 32px;
    transition: 0.5s;
}