@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&family=Viga&display=swap');

.h1{
    color: black;
    text-align: center;
    font-family: 'Viga';
    font-size: 3.75em;
}
.inputStyle{
    margin-top: 0.5rem;
    overflow: hidden;
    padding: 0px 20px;
    width: 55%;
    font-size: 2em;
    font-family: 'Gothic A1';
    font-weight: 500;
    border-radius: 500px;
    border: none;
}

.inputStyleComment{
    margin-top: 0.5rem;
    width: 55%;
    height: 10rem;
    padding: 12px 20px;
    clear:both;
    overflow: hidden;
    font-size: 2em;
    font-family: 'Gothic A1';
    font-weight: 500;
    border: none;
    border-radius: 2rem;
    resize: none;
}
#submitButton{
    margin-top: 20rem;
    border: none;
    background-color: #20D7C4;
    height: 2.5rem;
    width: 15rem;
    border-radius: 500px;
    font-family: 'Gothic A1';
    font-size: 1.75em;
    font-weight: 500;
}

#submitButton:hover{
    cursor: pointer;
    font-size: 2em;
}
#buttonToMainPageBox{
    transform: translateY(-28.5rem);
}
#buttonToMainPage{
    background-color: #52B0F8;
}

#buttonToMainPage:hover{
    background-color: #2c61d1;
}
.linkStyle{
    font-size: 1.5em;
    text-decoration: underline;
    color: lightblue;
}

.App {
    text-align: center;
    color: black;
}
.errorMessage{
    position: relative;
    color: black;
    padding: 0px 20px;
    font-family: "Gothic A1";
    margin-top: 0.25rem;
    margin-bottom: 0.4rem;
    font-weight: 500;
}
.centered{
    display: flex;
    justify-content: center;
    align-items: center;
}
#smallBox{
    height: 37rem;
}


.transparentBox{
    width: 60%;
    border-radius: 50px;
    background-color: rgb(225, 221, 229);
    margin-top: 3%;
    color: white;
    padding-left: 4%;
    padding-top: 1.5%;
}
