@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&family=Viga&display=swap');

.h1{
    text-align: center;
    font-family: 'Viga';
}
.inputStyle{
    margin-top: 20px;
    clear:both;
    overflow: hidden;
    width: 500px;
    font-size: 2.5em;
    font-family: 'Gothic A1';
    font-weight: 500;
    border-radius: 15px;
}
#submitButton{
    position: relative;
    transform: translateX(80rem);

    background-color: #20D7C4;
    height: 80px;
    width: 400px;
    border-radius: 500px;
}
#submitButton:hover{
    cursor: pointer;
    font-size: 2.7em;
}
.comment{
    color: #FFFFFF;
}
#commentBox{
    margin: auto;
    width: 30%;
}
#inputData{
    color: #FFFFFF;
}

.linkStyle{
    font-size: 1.5em;
    text-decoration: underline;
    color: lightblue;
}

.App {
    text-align: center;
    color: #FFFFFF;
}
.errorMessage{
    color: #FFFFFF;
    font-family: "Viga";
}
.centered{
    display: flex;
    justify-content: center;
    align-items: center;
}
#smallBox{
     height: 745px;
}

#largeBox{
    height: 1590px;
}

.transparentBox{
    width: 85%;
    border-radius: 50px;
    background-color: rgba(16, 18, 30, 0.8);
    margin-top: 70px;
    color: white;
    padding-left: 4%;
    padding-top: 1.5%;
}
