
.body{
    width: 1440px;
    /*height: 1024px;*/
    background-image:url("../public/Background.svg");
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    margin: 0 auto;
    /*padding: 0;
    border: 0 ;*/

}
.mockupmenutext{
    margin: 0 auto;
    padding-right: 1em;
    text-align: right;
    line-height: 80px;
    font-size: 2em;
    color: #FFFFFF;
}

