.Text{
    font-family: 'Viga', sans-serif;
}

.blocker{
    height: 80px;
    color: transparent;
    z-index: -3;
}

.menuBarContainer {
    position: fixed;
    z-index: 999;
    display: flex;
}

#left{
    width: 50%;
    box-sizing: border-box;
    padding-top: 12px;
    padding-left: 30px;
}

#right{
    width: 50%;
    box-sizing: border-box;
    padding: 10px;
}

.navigationContent{
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    padding-right: 1em;
    text-align: right;
    line-height: 80px;
    font-family: 'Gothic A1', sans-serif;
    font-size: 2em;
    color: #FFFFFF;
}

.menuButton{
    width: 5%;
    height: 60px;
    background-color: transparent;
    border: none;
    text-align: center;
    padding: 0;
    font-family: 'Gothic A1', sans-serif;
}

.menuText{
    font-family: 'Gothic A1', sans-serif;
    font-size: 2em;
    color: white;
}

.separator{
    width: 2px;
    background-color: white;
    height: 35px;
    margin-right: -2em;
    margin-top: 12.5px;
}

.body{
    image-rendering: high-quality;
    background: url(../public/Background.svg) repeat;
    background-size: contain;
    margin: auto;
}

.footer{
    left: 0;
    bottom: 0;
    width: 100%;
    height: 150px;
    background-color: #101118;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-family: 'Gothic A1', sans-serif;

}

.footerContent{
    margin: 100px;
}
