@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&family=Viga&display=swap');


#mainPageBox{
    display: flex;
    flex-direction: column;
}
.mainPageBoxDistance{
    margin-bottom: 30px;
}
#heroBox{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

#HeroBackground{
    transform: translateY(-100px);
    width:100%;
    height: 100%;
    min-width: 1280px;
    min-height: 800px;
    display: block;
    object-fit: cover;
    margin: 0 auto;
    position: relative;
    stroke: transparent;
    stroke-width: 0px;
}
#flyingSmartphoneBox{
    position: absolute;
    width: 100%;
    height:100%;
}

.HeroButton{
    background: transparent;
    border-color: transparent;
}
.HeroButton:hover{
    cursor: pointer;
}
.HeroButton:hover #ButtonForm{
    fill: black;
    color: black;
    transition: 0.3s;
    fill-opacity: 100%;
}
.HeroButton:hover #ArrowLeft{
    x: 27.6558px;
    y: 37.7935px;
    width: 15.0189px;
    height: 60.0756px;
    rx: 7.50945px;
    transition: 0.3s;
}
.HeroButton:hover #ArrowRight{
    x: 109.346px;
    y: 26.2883px;
    width: 15.0189px;
    height: 60.0756px;
    handyrx: 7.50945px;
    transition: 0.3s;
}

.WebsiteTitle{
    color: #FFF;
    font-family: 'Viga', sans-serif;
    font-size: 4em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.44px;
    text-align: right;
    padding-right: 2em;
}

.textSettings{
    font-family: 'Gothic A1', sans-serif;
    color: white;
    font-size: 1.875em;
    padding: 50px;
}

.centered{
    display: flex;
    justify-content: center;
    align-items: center;
}

#smallBox{
    height: 745px;
}

#largeBox{
    height: 1590px;
}

.transparentBox{
    position: relative;
    width: 85%;
    border-radius: 50px;
    background-color: rgba(16, 18, 30, 0.95);
    margin-top: 200px;
    color: white;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 1.5%;
    font-family: 'Gothic A1', sans-serif;
    font-size: 1.875em;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    width: 28%;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 30px;
}
.earth{
    width: 250px;
    height: 250px;
    margin-left: 90px;
}
#backgroundBoxLifestyle{
    height: 700px;
}
.textImageBoxLifestyle{
    display: flex;
    margin-top: 60px;
}
.textBoxLifestyle{
    width: 60%;
}
.imageBoxLifestyle{
    width: 40%;
}
#usedUpEarths{
    margin-left: 200px;
}
#usedUpEarths:hover .earthRedStripe{
    width: 8px;
    transition: 0.6s;
}
.roundSquare{
    width: 300px;
    height: 70px;
    background-color: cornflowerblue;
    border-radius: 60px;
    font-family: 'Viga', sans-serif;
    color: white;
    font-size: 1.25em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;

}
.infoBox{
    color:white;
    font-family: 'Gothic A1', sans-serif;
    font-size: 1.1em ;
    width: 500px;
    opacity: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    height: 300px;

}
#handyRessources{
    position: absolute;
    width: 1480px;
    height: 1300px;
    display: flex;
    alignItems: center;
    justifyContent: center;
}
#container2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    border: 2px solid red;
    width: 1500px;
    height: 800px;
    margin-bottom: 25px;
}
.singleRessources{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 800px;

}
.singleRessources:hover{
    transform: scale(1.2);
    transition: 0.3s;
}
.handyInfographic{
    margin-top: 8%;
    margin-left: 550px;
}
.handyInfographic:hover{
    cursor: pointer;
}
#startSquare{
    width: 300px;
    height: 80px;
    background-color: #6145d2;
    border-radius: 60px;
    font-family: 'Gothic A1', sans-serif;
    font-size: 1.1em;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    border: none;
}
#startSquare:hover{
    cursor: pointer;
    background-color: #593ec5;
    font-size: 1.2em;
    transition: 0.5s;
}

.linkStyle{
    font-size: 3em;
    text-decoration: underline dotted;
    color: lightblue;
}

.headerFont{
    font-family: 'Viga', sans-serif;
}
.infographicsBox{
    width: 100%;
    height: 100%;
    display: flex;
}
.infographicsTextBox{
    width: 35%;
}
.infographicsInteractiveContentBox{
    width: 65%;
    display: flex;
}
.ovenAndCBoardBox{
    display: flex;
}
.circuitBoard:hover{
    cursor: pointer;
}
.infographicsTextSettings{
    text-align: match-parent;
}
.wonResourcesBox:hover{
    height: 163px;
    width: 375px;
    transition: 0.3s;
}