.WebsiteTitle{
    color: #FFF;
    font-family: Viga;
    font-size: 6em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.44px;
    text-align: right;
}
.Navigationbar{
    color: white;
    font-size: 20px;
    text-align: right;
}
.Text{
    font-size: 15px;
    text-align: center;
    padding: 50px;

}
.Rectangle{
    text-align: right;
}

